<div class="card m-3 fotocurriculum">
  <img
    src="https://e7.pngegg.com/pngimages/141/792/png-clipart-homer-simpson-bart-simpson-marge-simpson-lisa-simpson-mr-burns-bart-simpson.png"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body contro_datos">
    <h5></h5>

    <div class="card-title fs-3">Datos personales</div>
    <div class="card-text mt-3"><strong>Nombre: </strong> José Alfonso</div>
    <div class="card-text mt-3"><strong>Apellidos: </strong> Vega Muñoz</div>
    <div class="card-text mt-3"><strong>Teléfono: </strong> 620 458990</div>
    <div class="contenido_github ">
      <img
        src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
        alt="Logo GitHub"
      />
      <a href="https://github.com/jose8951">Git Hub</a>
    </div>
    <div class="contenido_linkedin">
      <img
        src="https://play-lh.googleusercontent.com/kMofEFLjobZy_bCuaiDogzBcUT-dz3BBbOrIEjJ-hqOabjK8ieuevGe6wlTD15QzOqw"
        alt="Logo Linkedin"
      />
      <a href="https://www.linkedin.com/in/jos%C3%A9-alfonso-vega-19a8abb3/">Linkedin</a>
    </div>
  </div>
</div>
