<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand fs-2 m-2" href="/">Curriculum Vitae</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a
            class="nav-link ms-5 fs-4"
            routerLink="titulos"
            routerLinkActive="active"
            >Titulos</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link ms-5 fs-4"
            routerLink="trabajos"
            routerLinkActive="active"
            >Trabajos</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link ms-5 fs-4"
            routerLink="cursos"
            routerLinkActive="active"
            >Cursos</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link ms-5 fs-4"
            routerLink="relacionado"
            routerLinkActive="active"
            >relacionado</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link ms-5 fs-4"
            routerLink="otros"
            routerLinkActive="active"
            >Otros</a
          >
        </li>
      </ul>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >    
       <div class="fs-1">X</div>
      </button>
    </div>
  </div>
</nav>
