

.marco{
   /* border: 1px solid red;*/
   /* height: 100vh;*/
    background-color: #f4f4f4;
}

.contenedor_titulo{
    border-radius: 20px;
    background-color: #e1e9f4;
    margin: 1rem;
}


.titulo_principal{
  
   
    display: block;
    margin: auto;
    margin:.1rem;
    
}